# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# Debug
*.tsbuildinfo

# Local env files
.env
.env*.local
.env.development
.env.production

# Vercel
.vercel

# Turbo
.turbo

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Database
*.db
*.db-journal
prisma/migrations/

# Claude Code
.claude
